@model SearchResultsViewModel

@{
    ViewData["Title"] = "Search results";
}

@section Breadcrumb {
    <partial name="_Breadcrumb" for=Breadcrumbs />
}

@if(Model?.SearchResults != null && Model.SearchResults.Any())
{
    <form asp-controller="IP" asp-action="Results">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">@ViewData["Title"]</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">@Html.DisplayNameFor(model => model.SearchResults!.First().Name)</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">@Html.DisplayNameFor(model => model.SearchResults!.First().Company)</th>
                    <th scope="col" class="govuk-table__header">@Html.DisplayNameFor(model => model.SearchResults!.First().Postcode)</th>
                    <th scope="col" class="govuk-table__header">@Html.DisplayNameFor(model => model.SearchResults!.First().IpNumber)</th>
                    <th scope="col" class="govuk-table__header">@Html.DisplayNameFor(model => model.SearchResults!.First().LicensingBody)</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var searchResult in Model.SearchResults) {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link govuk-link--no-visited-state" asp-controller="IP", asp-action="IP" asp-route-ipNumber="@searchResult.IpNumber">@Html.DisplayFor(modelItem => searchResult.Name)</a>
                        </td>
                        <td class="govuk-table__cell">@Html.DisplayFor(modelItem => searchResult.Company)</td>
                        <td class="govuk-table__cell">@Html.DisplayFor(modelItem => searchResult.Postcode)</td>
                        <td class="govuk-table__cell">@Html.DisplayFor(modelItem => searchResult.IpNumber)</td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link govuk-link--no-visited-state" href="/AuthBody?ipNumber=@searchResult.IpNumber&ipName=@searchResult.Name#@searchResult.LicensingBody">@Html.DisplayFor(modelItem => searchResult.LicensingBody)</a>
                        </td>
                    </tr>
                }
            </tbody>
            <ftoot>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="6">
                        <partial name="_PagingControls" for=Paged />
                    </td>
                </tr>
            </ftoot>
        </table>
    </form>
}
