@model INSS.FIP.Web.ViewModels.InsolvencyPractitionerWithAuthBodyViewModel

@{
    ViewData["Title"] = "Insolvency practitioner details";
}

@section Breadcrumb {
    <partial name="_Breadcrumb" for=Breadcrumbs />
}

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.InsolvencyPractitioner.Name)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.InsolvencyPractitioner.Name)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.InsolvencyPractitioner.Company)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.InsolvencyPractitioner.Company)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.InsolvencyPractitioner.Address)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.InsolvencyPractitioner.Address)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.InsolvencyPractitioner.Telephone)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.InsolvencyPractitioner.Telephone)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.InsolvencyPractitioner.Fax)
                </dt>
                <dd class="govuk-summary-list__value">
                    @{
                        var fax = !string.IsNullOrWhiteSpace(Model.InsolvencyPractitioner.Fax) ? Model.InsolvencyPractitioner.Fax : "N/A";
                    }
                    @fax
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.InsolvencyPractitioner.Email)
                </dt>
                <dd class="govuk-summary-list__value">
                    <a class="govuk-link" href="mailto:@Html.DisplayFor(model => model.InsolvencyPractitioner.Email)">@Html.DisplayFor(model => model.InsolvencyPractitioner.Email)</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.InsolvencyPractitioner.IpNumber)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.InsolvencyPractitioner.IpNumber)
                </dd>
            </div>
        </dl>
        
        <h2 class="govuk-heading-m">Authorising body</h2>
        
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">@Model.AuthBody.Name</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Website
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                        <a href="@Model.AuthBody.Website">@Model.AuthBody.Website</a>
                    </p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (!string.IsNullOrWhiteSpace(Model.AuthBody.AuthBodyAddressLine1))
                    {
                        @Model.AuthBody.AuthBodyAddressLine1 <br />
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.AuthBody.AuthBodyAddressLine2))
                    {
                        @Model.AuthBody.AuthBodyAddressLine2 <br />
                    }
                    
                    @if (!string.IsNullOrWhiteSpace(Model.AuthBody.AuthBodyAddressLine3))
                    {
                        @Model.AuthBody.AuthBodyAddressLine3 <br />
                    }
                    
                    @if (!string.IsNullOrWhiteSpace(Model.AuthBody.AuthBodyAddressLine4))
                    {
                        @Model.AuthBody.AuthBodyAddressLine4 <br />
                    }
                    
                    @if (!string.IsNullOrWhiteSpace(Model.AuthBody.AuthBodyAddressLine5))
                    {
                        @Model.AuthBody.AuthBodyAddressLine5 <br />
                    }

                    @Model.AuthBody.AuthBodyPostcode
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">@Model.AuthBody.Telephone</p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Fax number
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">@Model.AuthBody.Fax</p>
                </dd>
            </div>
        </dl>
        
        <a class="govuk-button" style="text-decoration:none;" asp-controller="Ip" asp-action="Search">
            Find another insolvency practitioner
        </a>
    </div>

    <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link--no-visited-state" href="https://www.gov.uk/get-help-insolvency-service">
                            Get help from the Insolvency Service
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link--no-visited-state" href="https://www.gov.uk/browse/tax/court-claims-debt-bankruptcy">
                            Find out more about bankruptcy and insolvency
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>
</div>