@model INSS.FIP.Web.ViewModels.InsolvencyPractitionerViewModel

@{
    ViewData["Title"] = "Insolvency practitioner details";
}

@section Breadcrumb {
    <partial name="_Breadcrumb" for=Breadcrumbs />
}

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Company)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Company)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Telephone)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Telephone)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Fax)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Fax)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.IpNumber)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.IpNumber)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.LicensingBody)
                </dt>
                <dd class="govuk-summary-list__value">
                    <a class="govuk-link govuk-link--no-visited-state" href="/AuthBody?ipNumber=@Model.IpNumber&ipName=@Model.Name&page=@Model.PageNumber#@Model.LicensingBody">@Html.DisplayFor(model => model.LicensingBody)</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="govuk-summary-list__value">
                    <a class="govuk-link" href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
                </dd>
            </div>
        </dl>
        
        <a class="govuk-button" style="text-decoration:none;" asp-controller="Ip" asp-action="Search">
            Find another insolvency practitioner
        </a>
    </div>

    <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link--no-visited-state" href="https://www.gov.uk/get-help-insolvency-service">
                            Get help from the Insolvency Service
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link--no-visited-state" href="https://www.gov.uk/browse/tax/court-claims-debt-bankruptcy">
                            Find out more about bankruptcy and insolvency
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link--no-visited-state" href="https://www.insolvencydirect.bis.gov.uk/ExternalOnlineForms/GeneralEnquiry.aspx">
                            Give feedback about the Find an insolvency practitioner service
                        </a>
                    </li>

                </ul>
            </nav>
        </aside>

    </div>
</div>